<ion-header [scrollingHeader]='content'>
    <div class="img-header">
        <span class="name-profile">{{userName}}</span>

        <div class="img-profile" (click)='askForChangeProfilePic()'>
            <img *ngIf='!profile_pic' src="./assets/imgs/no_photo.png" />
            <img *ngIf='profile_pic' [src]="profile_pic" />
        </div>
    </div>
    <div class="logout">
        <ion-icon name="md-exit" (click)="doLogout()"></ion-icon>
    </div>
</ion-header>
<ion-content>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div class="content">

        <ion-card class="post-card" *ngFor="let post of posts">
            <ion-item>
                <ion-avatar item-start>
                    <img [src]="post.user.photo_url">
                </ion-avatar>
                <h2>{{post.user.name}}</h2>
                <ion-icon (click)='navigate(post.location)' name="ios-navigate-outline" item-end *ngIf="post.location"></ion-icon>
            </ion-item>

            <img [src]="post.photo_url" />
            <ion-card-content>
                <p>
                    {{post.subtitle}}
                </p>
            </ion-card-content>
        </ion-card>

        <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>

    <ion-fab bottom right #fab>
        <button ion-fab>
            <ion-icon name="md-add"></ion-icon>
        </button>
        <ion-fab-list side="top">
            <button ion-fab color="sectotvs" (click)="newPost(true)">
                <ion-icon name="md-camera"></ion-icon>
            </button>
            <button ion-fab color="sectotvs" (click)="newPost(false)">
                <ion-icon name="md-image"></ion-icon>
            </button>
            <button (click)='scrollToTop(fab)' ion-fab color="sectotvs">
                <ion-icon name="md-arrow-round-up"></ion-icon>
            </button>
        </ion-fab-list>
    </ion-fab>

</ion-content>
