page-home {

    .content {
        background-color: #fbfbfb;

        &.has-refresher > .scroll-content {
            border-bottom: none;
        }

        .scroll-content {
            margin-top: 64px;
            padding-top: 22px;
        }
    }
    .logout {
        position: absolute;
        top: 25px;
        right: 15px;
        font-size: 20px;
        color:white;
    }
    .img-header {
        background-color: #0c9abe;
        background-image: url('../assets/imgs/background.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        min-height: 100px;
        //margin-bottom: 45px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);

        .name-profile {
            font-size: 18px;
            position: absolute;
            top: 70px;
            font-weight: bold;
            left: 115px;
            color: white;
        }

        .img-profile {
            background-color: white;
            width: 80px;
            height: 80px;
            position: absolute;
            top: 50px;
            border-radius: 50px;
            left: 25px;
            border: solid 2px #0c9abe;
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
            z-index: 99999;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                border-radius: 50%;
                max-width: 100%;
                max-height: 100%;
            }
        }


    }

    .post-card {
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);

        .card-content {
            p {
                font-size: 12px;
                font-style: italic;
            }

        }
    }
}
